* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    top:0;
    background:burlywood;
}

.Logo {
    height: 85px;
    padding-left: 0.1%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15%;
    font-size: larger;
}

.menu h4:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: darksalmon;
}

h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:seashell;
    /* bisque , thistle ,*/
    padding-top: 5%; 
    padding-left: 20%; 
    font-size: 55px;
}

p {
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: cursive;
    padding-top: 10%; 
    padding-left: 20%; 
    font-size: 30px;
    color: seashell;
}

.bg-img{
    width: 100%;
    height: 550px;
}

button {
    position: absolute;
    justify-content: center;
    left:25% ;
    top: 50%;
    padding-top: 1.25%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 1.25%;
    border-radius: 8%;
}

button:hover{
    background-color: darksalmon;
}

.our-products {
    position: absolute;
    display: flex;
    justify-content: center;
    font-family:cursive;
    font-style: normal;
    padding-top: 1%; 
    padding-left: 45%; 
    font-size: 25px;  
}


.first-div {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7%;
}

.second-div {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7%;
}

.third-div {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7%;
}

.fourth-div {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7%;
    padding-bottom: 5%;
}
.Image {
    height: 250px;
    width:  250px;
    border-radius: 10%;  
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: burlywood;
    padding-bottom: 1%;
}

h2 {
    font-size: larger;
    font-family: cursive;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1%;
}

h4{
    font-style: normal;
    font-family: cursive;
}
.branches {
    padding-top: 2%;
}

.branches:hover {
    cursor: pointer;    
}

.copyright p{
    display: flex;
    align-items: center;
    color: black;
}

